.groups > div > div {
  background: #3a89f9;
}
.group_item {
  color: #fff;
    width: 100%;
}
.item {
    margin-bottom: 8px!important;
}
.item:last-child {
    margin-bottom: 0!important;
}
/* Уведомление с шириной на весь экран с отступами по краям */
.notification {
    position: fixed;
    top: 20px; /* Отступ сверху */
    left: 0;
    right: 0;
    margin: 0 20px; /* Отступы по оси X */
    background-color: #4caf50;
    color: white;
    padding: 15px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: fadeInOut 4s forwards;
  }
  /* Добавим стили для красного уведомления */
.notification.bg-red-500 {
  background-color: #f56565; /* Красный цвет для ошибок */
  color: white; /* Белый текст */
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
  text-align: center;
}

.notification.bg-green-500 {
  background-color: #48bb78; /* Зеленый цвет для успеха */
  color: white;
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
  text-align: center;
}

  /* Кнопка с большим border-radius */
  .claim-button {
    border-radius: 20px; /* Увеличенный border-radius */
    transition: background-color 0.3s ease;
  }
  
  /* Анимация для уведомления */
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(-50%);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-50%);
    }
  }
  