.group_item {
    width: 100%;
}
.notification {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    max-width: 80%;
    text-align: center;
  }
  