/* Стиль для контейнера */
.tasks-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Стиль для каждого элемента задания */
  .task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  .task-item:last-child {
    margin-bottom: 0;
  }

  
  /* Стиль для названия задачи */
  .task-name {
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    text-align: left;
    display: flex;
    width: 100%;
  }
  
  /* Стиль для блока с вознаграждением и кнопкой "Check" */
  .task-bottom {
    display: flex;
    margin-top: 4px;
  }
  
  /* Стиль для вознаграждения */
  .task-reward {
    color: #ffca28; /* Золотистый цвет вознаграждения */
    font-weight: bold;
    font-size: 14px;
    margin-right: 10px;
  }
  
  /* Стиль для кнопки "Tekshirish" */
  .check-button {
    background-color: transparent;
    color: #ffffff;
    font-size: 12px;
    padding: 4px 8px;
    border: 1px solid #ffca28;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  /* .check-button:hover {
    color: #ffca28;
    border-color: #ffca28;
  } */
  
  /* Стиль для основной кнопки "Bajarish" */
  .task-button {
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .task-button:hover {
    background-color: #2d8c47;
  }
  